pandas
pyyaml
packaging
accelerate
datasets
einops
evaluate
nltk
numba
numpy
openai
scikit-learn
scipy
tokenizers
tqdm
transformers
wandb
peft
multiprocess
flash-attn
gradio
azure-identity
tiktoken
bs4
wandb
vllm
